body {
    color: #434242;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.9;
    text-align: center;
}

h1 {
    font-weight: 700;
}

h5 {
    padding: 2rem;
}

.padding7 {
    padding: 7%;
}


/* ------------Navigation Bar ---------------------*/

.navbar-brand {
    font-family: 'Yesteryear', cursive;
    font-size: 2.6rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
}

.logo-img {
    margin: 3%;
    width: 10%;
}

/* Download Buttons */

.download-buttons {
    margin: auto;
}

.download-button {
    margin: 5% 3% 5% 0;
}

/* tittle-img */

.title-img {
    padding-left: 2rem;
    width: 90%;
}

/* ---------------Tittle----------------------------- */


#title {
    background-color: #FFCC29;
    color: white;
    text-align: left;
}

.title-left-div {
    padding-top: 2rem;
}

.title-p {
    margin: 7% auto;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* new stuff */
.animate {
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    animation-name: animate-fade;
}

@keyframes animate-fade {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



/* ----------------------features----------------------- */
#features {
    position: relative;
}

#features p {
    color: #7F8487;
}

.feature {
    padding: 5%;
}

.feature .icons {
    color: #A3BB98;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.feature .icons:hover {
    color: #00AF91;
}

/* --------------- Testimonials-------------- */

#testimonials {
    background-color: #F6F4E6;
}

.testimonial-img {
    border-radius: 100%;
    margin: 20px;
    width: 15%;
}

.testimonial-text{
    color: #7F8487;
}

.carousel-item {
    height: 500px;
    padding: 10% 18% 8% 18%;
}

/* pricing */

#pricing p {
    color: #7F8487;
}


.pricing-title {
    font-size: 2.3rem;
}

.pricing-text {
    margin-bottom: 5%;
}

.card {
    margin: 10px auto;
    padding: 0;
    width: 15rem;
}

.sign-up-bth {
    border-radius: 10px;
}

/* ----------------subscribe------------------- */

#subscribe {
    background-color: #FFCC29;
    color: white;
    padding: 15%;
}

form {
    align-items: center;
    display: flex;
    margin: auto;
    width: 50%;
}

.form-control {
    background-color: transparent;
    border-radius: 20px;
    border: solid 2px white;
    box-shadow: none;
    color: white;
    font-size: 1.2rem;
    margin-right: 1rem;
    padding: 0.5rem;
}

.form-control::placeholder {
    color: white;
    opacity: 1;
}


.subscribe-btn {
    background-color: white;
    border: #FFCC29;
    color: #FFCC29;
}

.subscribe-btn:hover {
    background-color: #00AF91;
}

.subscribe-content {
    margin: 6% auto;
}


/*-------------------- Download ---------*/
#download {
    align-items: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    /* make the img looks filted */
    /* important!! color above img */
    background-color: #7F8487;
    background-image: url(/imgs/download-bg.png);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    height: 500px;
    justify-content: center;
    width: 100%;

    
}

.download-bg {
    position: fixed;
}

.download-now-content {
    padding-top: 2rem;
}

/*-------------------- Contact ---------------------*/
#contact {
    background-color: #434242;
    font-size: small;
    margin: auto 0;
}

.p5 {
    padding: 3rem;
}

.contact-form {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
}



.contact-form-item::placeholder {
    color: #434242;
    opacity: 1;
}

.contact-form-item {
    border: solid 2px #434242
}


.footer-icon {
    color: #B2B2B2;
    font-size: 1.2rem;
    padding: 1rem;
}

.nav-item {
    color: #B2B2B2;
    padding: 1rem;
}

.footer-icon:hover {
    color: #DDDDDD;
}

.nav-item:hover {
    color: #DDDDDD;
}

.about {
    padding-left: 0;
}

/* --------------------responsive -----------------------*/
@media(max-width: 991px) {

    .title-img {
        margin: 0 30%;
        padding-left: 0;
        padding-top: 8%;
        position: static;
        transform: rotate(0);
        width: 40%;
    }

    .title-img-div {
        margin: auto;
    }

    h1,
    .center-p {
        text-align: center;
    }

    .card {
        margin: 10px auto;
        padding: 0;
        width: 25rem;
    }

    .about {
        line-height: 1rem;
        text-align: center;
    }

    #contact {
        padding: 8% 15% 0 15%;
    }
}