body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1.9;
    color: #434242;
}

h1{
    font-weight: 700;
}

h5{
    padding: 2rem;
}


/* Tittle */


#title {
    text-align: left;
    background-color: #FFCC29;
    color: white;
}
.title-left-div{
    padding-top: 2rem;
}

.title-p{
    margin: 7% auto;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* Navigation Bar */



.navbar-brand {
    font-family: 'Yesteryear', cursive;
    font-size: 2.6rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
}

.logo-img{
    width: 10%;
    margin: 3%;
}

/* Download Buttons */

.download-buttons{
    margin: auto;
}
.download-button {
    margin: 5% 3% 5% 0;
}

/* tittle-img */

.title-img {
    width: 90%;
    padding-left: 2rem;
}



/* features */
#features {
    padding: 7% ;
    position: relative;
}

#features p{
    color: #7F8487;
}

.feature {
    padding: 5%;
}

.feature .icons {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #A3BB98;
}

.feature .icons:hover {
    color: #00AF91;
}

/* * Testimonials */ 

#testimonials{
    background-color: #F6F4E6;
}
.testimonial-img {
    border-radius: 100%;
    margin: 20px;
    width: 15%;
}

.carousel-item {
    height: 500px;
    padding: 10% 18% 8% 18%;
}

/* pricing */
#pricing {
    padding: 7%;

}

#pricing p{
    color: #7F8487;
}


.pricing-title {
    font-size: 2.3rem;
}

.pricing-text{
    margin-bottom: 5%;
}

.card {
    margin: 10px auto;
    padding: 0;
    width: 15rem;
}

.sign-up-bth{
    border-radius: 10px;
}



/* ----------------subscribe------------------- */

#subscribe{
    background-color: #FFCC29;
    padding: 15%;
    color: white;
}

form{
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;

}

.form-control{
    color: white;
    border: solid 2px white;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: none;
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: 1.2rem;
} 

.form-control::placeholder { 
    color: white;
    opacity: 1; 
}


.subscribe-btn{
    color: #FFCC29;
    background-color: white;
    border: #FFCC29;
}

.subscribe-btn:hover{
    background-color: #00AF91;
}

.subscribe-content{
    margin: 6% auto;
}


/*-------------------- Contact ---------*/
#contact{
    background-color:#434242;
    margin: auto 0;
    padding: 7%;
    font-size: small;
}

.p5{
    padding: 3rem;
}

.contact-form{
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
}

.padding1{
    padding: 7%;
}

.contact-form-item::placeholder { 
    color: #434242;
    opacity: 1; 
}

.contact-form-item{
    border: solid 2px #434242
}

.contact-right{
    padding: 7%;
}


.footer-icon{
    color: #B2B2B2;
    padding: 1rem;
    font-size: 1.2rem;

}

.nav-item{
    color: #B2B2B2;
    padding: 1rem;
}

.footer-icon:hover{
    color: #DDDDDD;
}

.nav-item:hover{
    color: #DDDDDD;

}

.about{
    padding-left: 0;
}



/* responsive */
@media(max-width: 991px) {
    .title-img {
        padding-top: 8%;
        padding-left: 0;
        position: static;
        transform: rotate(0);
        width: 40%;
        margin: 0 30%;
    }

    .title-img-div{
        margin: auto;
    }


    h1,.center-p {
        text-align: center;
    }

    .card {
        margin: 10px auto;
        padding: 0;
        width: 25rem;
    }

    .about{
        text-align: center;
        line-height: 1rem;
    }

    #contact{
        padding: 8% 15% 0 15%;

    }

}